<p id="notice"><%= notice %></p>

<div class="row mb-5">
  <h1 class="float-left col-md-9">Events</h1>
  <%= link_to "Add New Event", new_event_path, class: "float-right col-md-3 btn btn-primary" %>
</div>

<div class="jumbotron">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <% if event.poster_image.present? %>
            <%= image_tag event.poster_image, height: '200' %>
          <% else %>
            <%= image_tag "no_image", height: '200' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-text"><%= event.description.truncate(100) %></p>
            <%= link_to "More details", event_path(event), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
